@font-face {
    font-family: Nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

#logo {}

#draw {
    width: 72%;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

#bigBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px 0px;
    gap: 68px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    position: relative;
    top: 90px;
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#mainBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    justify-content: space-between;
}

#leftBox {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#rightBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    justify-content: center;



    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 0px;
    gap: 10px;

    width: 100%;



    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#wrapperTop {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;




    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;




    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#titleP {

    width: 100%;



    /* Heading-mobile/h2 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 131.7%;

    /* or 50px */

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#textTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#textTopP {

    width: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#large {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 100%;

    /* Gradient_light */
    background: linear-gradient(180deg, #F8F8FB 0%, #FFFFFF 50%);
}

#leftTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;




    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    bottom: 20px;
}

#step1Div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;




    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#chooseDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#step1 {

    width: 100%;
    /* Heading/h2 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131.7%;

    /* or 42px */

    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#choose {
    width: 100%;

    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 15px;
}

#leftMid {
    /* Middle */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#frame4 {
    /* Frame 4 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;


    border-bottom: 1px solid rgba(84, 74, 98, 0.19);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    top: 15px;
}

frame7 {
    /* Frame 7 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;



    border-bottom: 2px solid #330080;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

frame8 {
    /* Frame 8 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#tezos {
    /* Tezos */


    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 15px;
}

#ethereum {
    /* Ethereum */



    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    top: 3px;
}

#frame11 {
    /* Frame 11 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;




    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#frame10 {
    /* Frame 10 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#popular {
    /* Popular */



    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 161.7%;

    /* identical to box height, or 23px */

    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#connect_box {

    position: absolute;
    top: 200px;
    left: 0px;



}

#frame1 {
    /* Frame 1 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    overflow: scroll;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    top: 20px;
}

.box1 {
    /* item */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;

    background: #FFFFFF;
    border: 1px solid #EDECF2;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.box1:hover {
    background: #EDECF2;
}

.box2 {
    /* item */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;


    background: #FFFFFF;
    border: 1px solid #EDECF2;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.box2:hover {
    background: #EDECF2;
}

.underbox1 {
    /* inside item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;




    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.underbox2 {
    /* inside item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.frame2 {
    /* Frame 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;



    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame3 {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;



    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;




    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.vector {
    /* Vector */




    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#beaconlogo {
    /* beacon logo */


    width: 36px;
    height: 36px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.kvwalletbtn {
    background-color: transparent;
    border: transparent;

    border-radius: 16px;
    z-index: 100;
    position: absolute;
    left: 166px;

}

#kvwalletmodal_walletconnect_btn {

    position: absolute;
    top: 395px;

}

#kvwalletmodal_walletconnect_btn2 {

    position: absolute;
    top: 559px;

}

#kvwalletmodal_walletconnect_btn3 {

    position: absolute;
    top: 641px;

}

#kvwalletmodal_walletconnect_btn4 {

    position: absolute;
    top: 807px;

}

#kvwalletmodal_walletconnect_btn5 {

    position: absolute;
    top: 724px;

}

#kvwalletmodal_metamask_btn {

    position: absolute;
    top: 478px;
    left: 166px;
}

#frame6 {


    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;



    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    top: 30px;
}

#ssi {
    /* Connect wallet */


    width: 100%;
    /* Paragraph/16/medium */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 161.7%;

    /* or 26px */

    /* Purple_light */
    color: #B0A7BC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#templelogo {
    /* temple-wallet 1 */
    width: 36px;
    height: 36px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.walletText {
    /* Beacon Wallet */



    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#qrcode {}

#success {
    /* Connect wallet */



    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.transparent {
    width: 95%;
    background-color: transparent;
    border: transparent;
}

#connectDesktop {

    position: absolute;
    top: 60px;
    left: 153px;
    font-family: Nunito;
    font-size: 20px;
    color: #330080;
}

#superFaq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 50px;
}

#faq {}

.question {}

.answer {}

.questionP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #000000;
}

.answerP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;
}

#faqP {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131.7%;

    /* or 42px */

    color: #330080;
}

#templeRight {}

#kukaiRight {}

body {
    display: flex;
    flex-direction: column;
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
}





footer {
    display: block;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.nav-02 {
    position: fixed;
    z-index: 100;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.07);
    width: 100%;

    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-02__box {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    height: 80px;
}

.nav-02__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-02__list_wrapper {
    align-items: center;
    display: flex;
    visibility: collapse;
}

.contactSpan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e0072;

    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2), 0 5px 15px 0 rgba(37, 44, 97, 0.15);
}

.contactP {
    color: white;
}

nav {
    font-family: 'Nunito';
    font-size: 14px;
    font-weight: 700;

}

nav a {
    text-decoration: none;
    color: #303030;
}

.nav-02__item:hover {
    transform: translateY(-2px);
    transition: color .2s ease, background-color .2s ease, border-color .2s ease, box-shadow .2s ease, transform .2s ease;
    color: #6600FF;
}

#faqNav {
    position: relative;
    left: 14.5px;
}

.linkP:hover {
    color: #6600FF;
}

#roadmapNav {
    position: relative;
    left: 7px;
}

#newsNav {
    position: relative;
    right: 1px;
}

#page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-white-color {
    width: 100%;
    background-color: white;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-02 {
    display: flex;
    flex-direction: column;
}

.social-buttons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    opacity: 0.7;
    position: relative;
    top: 2px;
}

.footer-02__wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

}

.footer-02__text {
    font-size: 15px;
    font-family: 'Nunito';
    color: #3d3d3d;
    font-weight: normal;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#line1Footer {
    margin: 0;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    /* or 160% */
    display: flex;
    align-items: center;

    color: rgba(61, 61, 61, 0.7);


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#line2Footer {
    margin: 0;
}

.social-buttons__icon {}

.footer-02__text a {
    color: #3d3d3d;
}