<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
  <!--
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css'">
  <link rel="stylesheet" type="text/css" href="/static/Footer-Clean.css">
  <link rel="stylesheet" type="text/css" href="/static/fontawesome/css/all.css">
  <link rel="stylesheet" type="text/css" href="/static/typeahead.css">
  <link rel='stylesheet' href="/static/fontawesome/css/fontawesome.min.css">-->
  <script> window.beaconSdkDebugEnabled = true    </script>
  <script src="/wallet-link/static/walletbeacon.min.js"></script>
  <link rel="stylesheet" href="/wallet-link/static/style.css">
</head>

<body>
  <div id="page">
    <div id="large">
      <div id="body">
        <nav class="js-nav nav-02  nav-02--sticky  nav-02--sticky--white  ">
          <div class="nav-02__box">
            <div class="nav-02__logo"><a class="nav-02__link" href="https://altme.io/" target="_self">
                <img loading="lazy" class="nav-02__logo_img"
                  src="https://ucarecdn.com/1e7c036a-046a-4447-8dd2-91139cedc3ef/" height="70" alt="Logo" />
              </a></div>

            <div class="nav-02__list_wrapper  ">
              <div class="nav-02__list nav-02__list--desktop">
                <div class="nav-02__item">
                  <a class="button   button--black-outline  button--empty " href="https://altme.io/#slider-07-879531"
                    target="_self">
                    <p class="linkP"> Wallet features
                    </p>
                  </a>
                </div>
                <div class="nav-02__item" id="newsNav">
                  <a class="button   button--black-outline  button--empty " href="https://altme.io/#posts-05-876621"
                    target="_self">
                    <p class="linkP">News</p>

                  </a>
                </div>
                <div class="nav-02__item" id="roadmapNav">
                  <a href="https://altme.io/#features-09-390941" target="_self">
                    <p class="linkP">Roadmap</p>

                  </a>
                </div>
                <div class="nav-02__item" id="faqNav">
                  <a class="button   button--black-outline  button--empty " href="#superFaq" target="_self">
                    <p class="linkP">FAQ</p>
                  </a>
                </div>
                <div class="nav-02__item">

                  <a data-stripe-product-id="" data-stripe-mode="payment" data-successful-payment-url=""
                    data-cancel-payment-url="" class="button button--accent-bg "
                    href="/cdn-cgi/l/email-protection#e094888985929299a0818c948d85ce898f" target="_blank">
                    <div class="contactSpan">
                      <p class="contactP">Contact</p>
                    </div>
                  </a>
                </div>
              </div>


            </div>

          </div>

        </nav>

        <div id="bigBox">
          <div id="titles">
            <div id="title">
              <p id="titleP">Add an identity layer to any wallet ! </p>
            </div>
            <div id="textTop">
              <p id="textTopP">Start using verifiable credentials by linking your wallet with Altme : a decentralized
                wallet app built on Self-Sovereign Identity standard.</p>
            </div>



          </div>
          <div id="mainBox">
            <div id="leftBox">
              <div id="leftTop">
                <div id="step1Div">
                  <p id="step1">Step 1 : Link your wallet</p>
                </div>
                <div id="chooseDiv">
                  <p id="choose">Choose the wallet provider you want to associate with Altme.</p>
                </div>
              </div>
              <div id="leftMid">
                <div id="frame4">
                  <div id="frame7">
                    <p id="tezos">Tezos</p>
                  </div>
                  <div id="frame8">
                    <!--<a href="https://192.168.1.17:3000/wallet-link/dapp?blockchain=ethereum" id="ethereum">Ethereum</a>-->
                  </div>
                </div>
                <div id="frame11">
                  <div id="frame1">
                    <button id="requestPermission4" class="transparent">
                      <div class="box2">
                        <div class="underbox2">
                          <div class="frame2">
                            <img id="templelogo" src="/wallet-link/static/airgap.png">

                            <p class="walletText">Air Gap Wallet</p>

                          </div>
                          <div class="frame3"><img class="vector" src="/wallet-link/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission3" class="transparent">
                      <div class="box1">
                        <div class="underbox1">
                          <div class="frame2">
                            <div><img id="beaconlogo" src="/wallet-link/static/digitalartautonomy.webp"></div>
                            <div>
                              <p class="walletText">Digital Art Autonomy
                              </p>
                            </div>
                          </div>
                          <div class="frame3"><img class="vector" src="/wallet-link/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission5" class="transparent">
                      <div class="box1">
                        <div class="underbox1">
                          <div class="frame2">
                            <div><img id="beaconlogo" src="/wallet-link/static/kukai.png"></div>
                            <div>
                              <p class="walletText">Kukai Wallet</p>
                            </div>
                          </div>
                          <div class="frame3"><img class="vector" src="/wallet-link/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission6" class="transparent">
                      <div class="box2">
                        <div class="underbox2">
                          <div class="frame2">
                            <img id="templelogo" src="/wallet-link/static/temple-wallet.png">

                            <p class="walletText">Temple Mobile</p>

                          </div>
                          <div class="frame3"><img class="vector" src="/wallet-link/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission2" class="transparent">
                      <div class="box2">
                        <div class="underbox2">
                          <div class="frame2">
                            <img id="templelogo" src="/wallet-link/static/temple-wallet.png">

                            <p class="walletText">Temple Web Extension</p>

                          </div>
                          <div class="frame3"><img class="vector" src="/wallet-link/static/vector.png"></div>
                        </div>
                      </div>
                    </button>



                    <button id="requestPermission" class="transparent">
                      <div class="box1">
                        <div class="underbox1">
                          <div class="frame2">
                            <div><img id="beaconlogo" src="/wallet-link/static/umami.jpg"></div>
                            <div>
                              <p class="walletText">Umami</p>
                            </div>
                          </div>
                          <div class="frame3"><img class="vector" src="/wallet-link/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
              <div id="frame6">
                <p id="ssi">** Self-Sovereign Identity (SSI) gives individuals control over the personal information
                  they
                  use across the web.</p>


              </div>


            </div>
            <div id="rightBox"> <img id="draw" src="/wallet-link/static/IllustrationTez.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="superFaq">
      <p id="youHaveQuestions">You have questions ?
        We have answers.</p>
      <div id="underFrame19">
        <button id="buttonGeneral" class="buttonFAQ">
          <div id="divButtonGeneral" class="activeButtonFAQ">
            <p id="frame16P">General</p>
          </div>
        </button>
        <button id="buttonSecurity" class="buttonFAQ">
          <div id="divButtonSecurity" class="inactiveButtonFAQ">
            <p id="frame17P">Security</p>
          </div>
        </button>
        <button id="buttonSSI" class="buttonFAQ">
          <div id="divButtonSSI" class="inactiveButtonFAQ">
            <p id="frame18P">SSI</p>
          </div>
        </button>

        <!-- <div id="frame19"></div>-->
      </div>
      <div id="generalQuestions" class="activeQuestions">
        <div id="question1" class="superQuestions">
          <div class="question">
            <p class="questionP">What is wallet-link application for ? </p>
            <button id="showAnswer1" class="showAnswerButton"><img id="arrow1" class="arrows" src="/wallet-link/static/arrow-circle-down.png"></button>
          </div>

          <p class="inactiveAnswer" id="answer1">Wallet-link enables you to associate a crypto address you own with
            your Altme wallet, and
            therefore to associate this crypto address with some your data (for example identity data) when required.
          </p>

        </div>
        <div id="question2" class="superQuestions">
          <div class="question">
            <p class="questionP">Why link a crypto address with verifiable credentials ?</p>
            <button id="showAnswer2" class="showAnswerButton"><img id="arrow2" class="arrows" src="/wallet-link/static/arrow-circle-down.png"></button>

          </div>

          <p class="inactiveAnswer" id="answer2">More and more services require to present verifiable credentials,
            either to access them
            (a
            KYC for example) or to benefit from commercial offers (like a discount). With wallet-link, you can
            continue
            to
            use your crypto wallet to sign transactions and manage your tokens and NFTs, while taking advantage of the
            Altme wallet to manage your identity data and present them, linked to your crypto address, when necessary.
          </p>

        </div>


      </div>
      <div id="securityQuestions" class="inactiveQuestions">
        <div id="question3" class="superQuestions">
          <div class="question">
            <p class="questionP">Do I need to disclose my private keys ? </p>
            <button id="showAnswer3" class="showAnswerButton"><img id="arrow3" class="arrows" src="/wallet-link/static/arrow-circle-down.png"></button>
          </div>

          <p class="inactiveAnswer" id="answer3">No you don’t need to disclose any private keys. All you have to do is sign a transaction
            with
            your crypto wallet in order to get the credential that proves you hold the private key of the crypto
            address.
          </p>

        </div>
        <div id="question4" class="superQuestions">
          <div class="question">
            <p class="questionP">What is Altme SSI wallet ?</p>
            <button id="showAnswer4" class="showAnswerButton"><img id="arrow4" class="arrows" src="/wallet-link/static/arrow-circle-down.png"></button>

          </div>

          <p class="inactiveAnswer" id="answer4">Altme is a digital wallet built on Self-Sovereign Identity (SSI) technology. With Altme,
            your
            identity data are stored on your device and not on a central server, enabling better privacy and security.
            Your data can’t be stolen or monetized without your consent.
            Altme allows you to produce proof of identity from a KYC, without revealing your identity data: over-18 or
            over-13 proof, nationality proof, etc. With wallet-link, you can for example associate your proof of
            majority
            with a crypto address you own.
          </p>

        </div>


      </div>
      <div id="SSIQuestions" class="inactiveQuestions">
        <div id="question5" class="superQuestions">
          <div class="question">
            <p class="questionP">How do I get Altme SSI wallet ? </p>
            <button id="showAnswer5" class="showAnswerButton"><img id="arrow5" class="arrows" src="/wallet-link/static/arrow-circle-down.png"></button>
          </div>

          <p class="inactiveAnswer" id="answer5">Altme wallet is available on Android and IOS stores. 
          </p>

        </div>
        <div id="question6" class="superQuestions">
          <div class="question">
            <p class="questionP">Which crypto wallets can wallet-link be used with ?</p>
            <button id="showAnswer6" class="showAnswerButton"><img id="arrow6" class="arrows" src="/wallet-link/static/arrow-circle-down.png"></button>

          </div>

          <p class="inactiveAnswer" id="answer6">Wallet-link can be used with all major crypto wallets compatible with Tezos and Ethereum
            blockchain.
          </p>

        </div>


      </div>
    



    </div>
    <!--<img id="templeRight" src="/wallet-link/static/temple-wallet.png"><img id="kukaiRight" src="/wallet-link/static/kukai.png">-->

  </div>

  <div class="bg-white-color ">
    <footer class="footer-02" id="footer">
      <div class="container">
        <div class="footer-02__wrapper">
          <div class="footer-02__text content_box">
            <p id="line1Footer">&copy; 2022&nbsp; TALAO - Altme All rights reserved, <a href="https://altme.io/cgu/"
                target="_blank">CGU</a>, <a href="https://altme.io/privacy/" target="_blank">Privacy</a></p>
            <p id="line2Footer" hidden><strong>Built with TzKT API, Spruce Didkit 0.4.0</strong>&nbsp;</p>
          </div>
          <div class="social-buttons  ">

            <div class="social-buttons__item"><a class="social-buttons__link social-buttons__link--twitter"
                href="https://twitter.com/Altme_io" target="_blank"><img loading="lazy" class="social-buttons__icon"
                  alt="twitter icon"
                  src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/social/black/twitter.svg" /></a></div>
            <div class="social-buttons__item"><a class="social-buttons__link social-buttons__link--linkedin"
                href="https://www.linkedin.com/company/altme-web3/" target="_blank"><img loading="lazy"
                  class="social-buttons__icon" alt="linkedin icon"
                  src="https://dvzvtsvyecfyp.cloudfront.net/static/img/icons/social/black/linkedin.svg" /></a></div>

          </div>
        </div>
      </div>
    </footer>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/@taquito/utils"></script>
  <script>
    var wallet = ""


    //document.getElementById('altme').style.visibility = 'hidden';


    // Initiate DAppClient
    const client = beacon.getDAppClientInstance({
      name: 'Altme', // Name of the DApp,
      disclaimerText: '',
      errorMessages: {

      }

    })

    // Display the active account in the UI
    const updateActiveAccount = () => {
      client.getActiveAccount().then((activeAccount) => {
        if (activeAccount) {
          console.log(activeAccount)
          console.log(activeAccount.publicKey)
          console.log("activeaccount")


        } else {

        }
      })
    }
    updateActiveAccount()


    signPayloadOwning = async () => {
      const signature = await client.requestSignPayload({
        signingType: beacon.SigningType.MICHELINE,
        payload: '{{nonce}}'
      })
      console.log('signature:', signature)
      let link = "{{link}}";


      client.getActiveAccount().then((activeAccount) => {
        if (activeAccount) {
          fetch(link, { method: "GET", headers: { pubKey: activeAccount.publicKey, signature: signature.signature, address: activeAccount.address } }).then((res) => {
            res.json().then((data) => {
              console.log(data);
              if (data.status === "ok") {
                fetch("/wallet-link", { method: "POST", headers: { wallet: wallet, cryptoWalletSignature: signature.signature } }).then((res) => {
                  document.location.href = res.url
                  console.log(res)
                })
              }
            });
          });
          console.log(activeAccount.publicKey)
        }
      })

    }

    // Initiate a permission request
    const requestPermission = (callback) => {
      client
        .requestPermissions(/*{ network: { type: beacon.NetworkType.DELPHINET } }*/)
        .then((permissions) => {
          console.log('permissions', permissions)
          wallet = ""
          try {
            wallet = permissions.appMetadata.name
          } catch (e) { }
          if (callback) {
            callback(permissions)
          }
          updateActiveAccount()
          signPayloadOwning()
        })
        .catch((error) => {
          console.log('error during permission request', error)
        })
    }



    // Add event listener to the button
    document.getElementById('requestPermission').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission2').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission3').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission4').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission5').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission6').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('buttonGeneral').addEventListener('click', () => {
      document.getElementById('divButtonGeneral').setAttribute("class", "activeButtonFAQ");
      document.getElementById('divButtonSecurity').setAttribute("class", "inactiveButtonFAQ");
      document.getElementById('divButtonSSI').setAttribute("class", "inactiveButtonFAQ");
      document.getElementById('generalQuestions').setAttribute("class", "activeQuestions");
      document.getElementById('securityQuestions').setAttribute("class", "inactiveQuestions");
      document.getElementById('SSIQuestions').setAttribute("class", "inactiveQuestions");
    })
    document.getElementById('buttonSecurity').addEventListener('click', () => {
      document.getElementById('divButtonGeneral').setAttribute("class", "inactiveButtonFAQ");
      document.getElementById('divButtonSecurity').setAttribute("class", "activeButtonFAQ");
      document.getElementById('divButtonSSI').setAttribute("class", "inactiveButtonFAQ");
      document.getElementById('generalQuestions').setAttribute("class", "inactiveQuestions");
      document.getElementById('securityQuestions').setAttribute("class", "activeQuestions");
      document.getElementById('SSIQuestions').setAttribute("class", "inactiveQuestions");
    })
    document.getElementById('buttonSSI').addEventListener('click', () => {
      document.getElementById('divButtonGeneral').setAttribute("class", "inactiveButtonFAQ");
      document.getElementById('divButtonSecurity').setAttribute("class", "inactiveButtonFAQ");
      document.getElementById('divButtonSSI').setAttribute("class", "activeButtonFAQ");
      document.getElementById('generalQuestions').setAttribute("class", "inactiveQuestions");
      document.getElementById('securityQuestions').setAttribute("class", "inactiveQuestions");
      document.getElementById('SSIQuestions').setAttribute("class", "activeQuestions");
    })
    document.getElementById('showAnswer1').addEventListener('click', () => {
      console.log(document.getElementById('answer1').getAttribute("class"))
      if (document.getElementById('answer1').getAttribute("class") === "inactiveAnswer") {
        document.getElementById('answer1').setAttribute("class", "activeAnswer");
        document.getElementById('arrow1').setAttribute("src","/wallet-link/static/arrow-circle-up.png")
      }
      else if (document.getElementById('answer1').getAttribute("class") === "activeAnswer") {
        document.getElementById('answer1').setAttribute("class", "inactiveAnswer");
        document.getElementById('arrow1').setAttribute("src","/wallet-link/static/arrow-circle-down.png")

      }
    })
    document.getElementById('showAnswer2').addEventListener('click', () => {
      console.log(document.getElementById('answer2').getAttribute("class"))
      if (document.getElementById('answer2').getAttribute("class") === "inactiveAnswer") {
        document.getElementById('answer2').setAttribute("class", "activeAnswer");
        document.getElementById('arrow2').setAttribute("src","/wallet-link/static/arrow-circle-up.png")
      }
      else if (document.getElementById('answer2').getAttribute("class") === "activeAnswer") {
        document.getElementById('answer2').setAttribute("class", "inactiveAnswer");
        document.getElementById('arrow2').setAttribute("src","/wallet-link/static/arrow-circle-down.png")

      }
    })
    document.getElementById('showAnswer3').addEventListener('click', () => {
      console.log(document.getElementById('answer3').getAttribute("class"))
      if (document.getElementById('answer3').getAttribute("class") === "inactiveAnswer") {
        document.getElementById('answer3').setAttribute("class", "activeAnswer");
        document.getElementById('arrow3').setAttribute("src","/wallet-link/static/arrow-circle-up.png")
      }
      else if (document.getElementById('answer3').getAttribute("class") === "activeAnswer") {
        document.getElementById('answer3').setAttribute("class", "inactiveAnswer");
        document.getElementById('arrow3').setAttribute("src","/wallet-link/static/arrow-circle-down.png")

      }
    })
    document.getElementById('showAnswer4').addEventListener('click', () => {
      console.log(document.getElementById('answer4').getAttribute("class"))
      if (document.getElementById('answer4').getAttribute("class") === "inactiveAnswer") {
        document.getElementById('answer4').setAttribute("class", "activeAnswer");
        document.getElementById('arrow4').setAttribute("src","/wallet-link/static/arrow-circle-up.png")
      }
      else if (document.getElementById('answer4').getAttribute("class") === "activeAnswer") {
        document.getElementById('answer4').setAttribute("class", "inactiveAnswer");
        document.getElementById('arrow4').setAttribute("src","/wallet-link/static/arrow-circle-down.png")

      }
    })
    document.getElementById('showAnswer5').addEventListener('click', () => {
      console.log(document.getElementById('answer5').getAttribute("class"))
      if (document.getElementById('answer5').getAttribute("class") === "inactiveAnswer") {
        document.getElementById('answer5').setAttribute("class", "activeAnswer");
        document.getElementById('arrow5').setAttribute("src","/wallet-link/static/arrow-circle-up.png")
      }
      else if (document.getElementById('answer5').getAttribute("class") === "activeAnswer") {
        document.getElementById('answer5').setAttribute("class", "inactiveAnswer");
        document.getElementById('arrow5').setAttribute("src","/wallet-link/static/arrow-circle-down.png")

      }
    })
    document.getElementById('showAnswer6').addEventListener('click', () => {
      console.log(document.getElementById('answer6').getAttribute("class"))
      if (document.getElementById('answer6').getAttribute("class") === "inactiveAnswer") {
        document.getElementById('answer6').setAttribute("class", "activeAnswer");
        document.getElementById('arrow6').setAttribute("src","/wallet-link/static/arrow-circle-up.png")
      }
      else if (document.getElementById('answer6').getAttribute("class") === "activeAnswer") {
        document.getElementById('answer6').setAttribute("class", "inactiveAnswer");
        document.getElementById('arrow6').setAttribute("src","/wallet-link/static/arrow-circle-down.png")

      }
    })
  </script>



</body>

</html>