<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>

  <script> window.beaconSdkDebugEnabled = true    </script>
  <script src="/static/walletbeacon.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <div id="page">
    <div id="large">
      <div id="body">
        <header>
          <a href="https://altme.io/">
            <div id="wrapperTop"><img id="logo" src="/static/Logo.png"></div>
          </a>
        </header>

        <div id="bigBox">
          <div id="titles">
            <div id="title">
              <p id="titleP">Add an identity to your crypto wallet ! </p>
            </div>
            <div id="textTop">
              <p id="textTopP">Start using verifiable credentials by linking your wallet with Altme : a decentralized
                wallet
                app built on
                Self-sovereign identity.</p>
            </div>



          </div>
          <div id="mainBox">
            <div id="leftBox">
              <div id="leftTop">
                <div id="step1Div">
                  <p id="step1">Step 1 : Link your wallet</p>
                </div>
                <div id="chooseDiv">
                  <p id="choose">Choose the wallet provider you want to associate with Altme.</p>
                </div>
              </div>
              <div id="leftMid">
                <div id="frame4">
                  <div id="frame7">
                    <p id="tezos">Tezos</p>
                  </div>
                  <div id="frame8">
                    <!--<a href="https://192.168.1.17:3000/wallet-link/dapp?blockchain=ethereum" id="ethereum">Ethereum</a>-->
                  </div>
                </div>
                <div id="frame11">
                  <div id="frame10">
                    <p id="popular">Popular</p>
                  </div>
                  <div id="frame1">
                    <button id="requestPermission" class="transparent">
                      <div class="box1">
                        <div class="underbox1">
                          <div class="frame2">
                            <div><img id="beaconlogo" src="/static/umami.jpg"></div>
                            <div>
                              <p class="walletText">Umami</p>
                            </div>
                          </div>
                          <div class="frame3"><img class="vector" src="/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission2" class="transparent">
                      <div class="box2">
                        <div class="underbox2">
                          <div class="frame2">
                            <img id="templelogo" src="/static/temple-wallet.png">

                            <p class="walletText">Temple Web Extension</p>

                          </div>
                          <div class="frame3"><img class="vector" src="/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission3" class="transparent">
                      <div class="box1">
                        <div class="underbox1">
                          <div class="frame2">
                            <div><img id="beaconlogo" src="/static/digitalartautonomy.webp"></div>
                            <div>
                              <p class="walletText">Digital Art Autonomy
                              </p>
                            </div>
                          </div>
                          <div class="frame3"><img class="vector" src="/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission4" class="transparent">
                      <div class="box2">
                        <div class="underbox2">
                          <div class="frame2">
                            <img id="templelogo" src="/static/airgap.png">

                            <p class="walletText">Air Gap Wallet</p>

                          </div>
                          <div class="frame3"><img class="vector" src="/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission5" class="transparent">
                      <div class="box1">
                        <div class="underbox1">
                          <div class="frame2">
                            <div><img id="beaconlogo" src="/static/kukai.png"></div>
                            <div>
                              <p class="walletText">Kukai Wallet</p>
                            </div>
                          </div>
                          <div class="frame3"><img class="vector" src="/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                    <button id="requestPermission6" class="transparent">
                      <div class="box2">
                        <div class="underbox2">
                          <div class="frame2">
                            <img id="templelogo" src="/static/temple-wallet.png">

                            <p class="walletText">Temple Mobile</p>

                          </div>
                          <div class="frame3"><img class="vector" src="/static/vector.png"></div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
              <div id="frame6">
                <p id="ssi">** Self-sovereign identity (SSI) gives individuals control over the personal information
                  they
                  use across the web.</p>


              </div>


            </div>
            <div id="rightBox"> <img id="draw" src="/static/IllustrationTez.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="superFaq">
      <div id="faq">
        <p id="faqP">F.A.Q.</p>
      </div>
      <div class="question">
        <p class="questionP">What is wallet-link application for ? </p>
      </div>
      <div class="answer">
        <p class="answerP">Wallet-link enables you to associate a crypto address you own with your Altme wallet, and
          therefore to associate this crypto address with some your data (for example identity data) when required.
        </p>
      </div>
      <div class="question">
        <p class="questionP"> Why link a crypto address with verifiable credentials ?</p>
      </div>
      <div class="answer">
        <p class="answerP">More and more services require to present verifiable credentials, either to access them (a
          KYC for example) or to benefit from commercial offers (like a discount). With wallet-link, you can continue to
          use your crypto wallet to sign transactions and manage your tokens and NFTs, while taking advantage of the
          Altme wallet to manage your identity data and present them, linked to your crypto address, when necessary.</p>
      </div>
      <div class="question">
        <p class="questionP"> Do I need to disclose my private keys ?
        </p>
      </div>
      <div class="answer">
        <p class="answerP">No you don’t need to disclose any private keys. All you have to do is sign a transaction with
          your crypto wallet in order to get the credential that proves you hold the private key of the crypto address.
        </p>
      </div>
      <div class="question">
        <p class="questionP"> What is Altme SSI wallet ?</p>
      </div>
      <div class="answer">
        <p class="answerP">Altme is a digital wallet built on Self-Sovereign Identity (SSI) technology. With Altme, your
          identity data are stored on your device and not on a central server, enabling better privacy and security.
          Your data can’t be stolen or monetized without your consent.
          Altme allows you to produce proof of identity from a KYC, without revealing your identity data: over-18 or
          over-13 proof, nationality proof, etc. With wallet-link, you can for example associate your proof of majority
          with a crypto address you own.</p>
      </div>
      <div class="question">
        <p class="questionP">How do I get Altme SSI wallet ? </p>
      </div>
      <div class="answer">
        <p class="answerP">Altme wallet is available on Android and IOS stores. </p>
      </div>
      <div class="question">
        <p class="questionP">Which crypto wallets can wallet-link be used with ?</p>
      </div>
      <div class="answer">
        <p class="answerP"> Wallet-link can be used with all major crypto wallets compatible with Tezos and Ethereum
          blockchain.</p>
      </div>
    </div>
    <!--<img id="templeRight" src="/static/temple-wallet.png"><img id="kukaiRight" src="/static/kukai.png">-->

  </div>



  <div id="logger-output" hidden></div>
  <script src="https://cdn.jsdelivr.net/npm/@taquito/utils"></script>
  <script>
    var wallet = ""
    class MyLogger {
      constructor() { }

      debug(name, method, ...args) {
        const el = document.createElement('div')
        el.innerText = `'debug' ${name} ${method} ${args.join(', ')}`
        el.setAttribute('style', 'background-color: blue')
        document.getElementById('logger-output').appendChild(el)
      }

      log(name, method, ...args) {
        const el = document.createElement('div')
        el.innerText = `'log' ${name} ${method} ${args.join(', ')}`
        el.setAttribute('style', 'background-color: green')
        document.getElementById('logger-output').appendChild(el)
      }

      warn(name, method, ...args) {
        const el = document.createElement('div')
        el.innerText = `'warn' ${name} ${method} ${args.join(', ')}`
        el.setAttribute('style', 'background-color: orange')
        document.getElementById('logger-output').appendChild(el)
      }

      error(name, method, ...args) {
        const el = document.createElement('div')
        el.innerText = `'error' ${name} ${method} ${args.join(', ')}`
        el.setAttribute('style', 'background-color: red')
        document.getElementById('logger-output').appendChild(el)
      }
    }

    const x = new MyLogger()

    beacon.setLogger(x);

    //document.getElementById('altme').style.visibility = 'hidden';


    // Initiate DAppClient
    const client = beacon.getDAppClientInstance({
      name: 'Altme', // Name of the DApp,
      disclaimerText: '',
      errorMessages: {
        KT1RPW5kTX6WFxg8JK34rGEU24gqEEudyfvz: {
          NOT_OWNER: 'You are not the owner of this token.'
        }
      }

    })

    // Display the active account in the UI
    const updateActiveAccount = () => {
      client.getActiveAccount().then((activeAccount) => {
        if (activeAccount) {
          console.log(activeAccount)
          console.log(activeAccount.publicKey)
          console.log("activeaccount")


        } else {

        }
      })
    }
    updateActiveAccount()

    const delegate = () => {
      client.requestOperation({
        operationDetails: [
          {
            kind: beacon.TezosOperationType.DELEGATION,
            delegate: 'tz1MJx9vhaNRSimcuXPK2rW4fLccQnDAnVKJ'
          }
        ]
      })
    }

    // Initiate a delegate operation
    const sendToSelf = () => {
      return client.getActiveAccount().then((activeAccount) => {
        return client.requestOperation({
          operationDetails: [
            {
              kind: beacon.TezosOperationType.TRANSACTION,
              destination: activeAccount?.address ?? '',
              amount: '1'
            }
          ]
        })
      })
    }

    signPayloadOwning = async () => {
      const signature = await client.requestSignPayload({
        signingType: beacon.SigningType.MICHELINE,
        payload: '{{nonce}}'
      })
      console.log('signature:', signature)
      let link = "{{link}}";


      client.getActiveAccount().then((activeAccount) => {
        if (activeAccount) {
          fetch(link, { method: "GET", headers: { pubKey: activeAccount.publicKey, signature: signature.signature } }).then((res) => {
            res.json().then((data) => {
              console.log(data);
              if (data.status === "ok") {
                fetch("/wallet-link", { method: "POST", headers: { wallet: wallet, cryptoWalletSignature: signature.signature } }).then((res) => {
                  document.location.href = res.url
                  console.log(res)
                })
              }
            });
          });
          console.log(activeAccount.publicKey)
        }
      })

    }
    // send contract call
    const sendContractCall = () => {
      return client.getActiveAccount().then(async (activeAccount) => {
        const TZ_BUTTON_COLORS_CONTRACT = 'KT1RPW5kTX6WFxg8JK34rGEU24gqEEudyfvz'
        const tokenId = '925'

        // Setting the color of TzButton is only possible if you are currently the leader and own a color
        // So this call will likely fail
        try {
          const result = await client.requestOperation({
            operationDetails: [
              {
                kind: beacon.TezosOperationType.TRANSACTION,
                amount: '0',
                destination: TZ_BUTTON_COLORS_CONTRACT,
                parameters: {
                  entrypoint: 'set_color',
                  value: {
                    int: tokenId
                  }
                }
              }
            ]
          })

          console.log(result)
        } catch (error) {
          console.log(`The contract call failed and the following error was returned:`, error)
        }
      })
    }

    // Initiate a permission request
    const requestPermission = (callback) => {
      client
        .requestPermissions(/*{ network: { type: beacon.NetworkType.DELPHINET } }*/)
        .then((permissions) => {
          console.log('permissions', permissions)
          wallet = ""
          try {
            wallet = permissions.appMetadata.name
          } catch (e) { }
          if (callback) {
            callback(permissions)
          }
          updateActiveAccount()
          signPayloadOwning()
        })
        .catch((error) => {
          console.log('error during permission request', error)
        })
    }



    // Add event listener to the button
    document.getElementById('requestPermission').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission2').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission3').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission4').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission5').addEventListener('click', () => {
      requestPermission()
    })
    document.getElementById('requestPermission6').addEventListener('click', () => {
      requestPermission()
    })
  </script>



</body>

</html>